.container-login {
  align-items: center;
  background-color: #fcfcfc;
  display: flex;
  font-family: Poppins, sans-serif;
  height: 100vh;
  justify-content: center;
}

.login-box {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 50px;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  height: 20em;
  justify-content: center;
  padding: 15px 30px;
  width: 20em;
}

h1 {
  color: #313131;
}

.wallet {
  color: #818181;
}

label {
  color: #313131;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 70%;
}

input , select {
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  font-family: inherit;
  height: 20px;
  margin-top: 5px;
}

input:focus , select:focus {
  outline: none;
}

button {
  background-color: white;
  border: 1px solid #818181;
  border-radius: 0;
  cursor: pointer;
  font-family: inherit;
  margin-top: 15px;
  padding: 5px 10px;
  width: 11.5em;
}

button:hover {
  box-shadow: rgba(129, 129, 151, 0.25) 0 2px 7px -1px inset,
    rgba(133, 133, 133, 0.3) 0 2px 4px -2px inset;
}
