.container-background {
  align-items: center;
  background-color: #fcfcfc;
  display: flex;
  font-family: Poppins, sans-serif;
  height: 100vh;
  justify-content: center;
}

.wallet-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 50px;
  height: 80%;
  width: 80%;
}
