.container-header {
  align-items: center;
  border-bottom: 1px solid #313131;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  width: 100%;
}

.title-container {
  margin-left: 20px;
}

.content-container {
  align-items: center;
  display: flex;
  margin-right: 20px;
}

.user-container {
  align-items: center;
  display: flex;
  margin-right: 20px;
}

.currency-container {
  align-items: center;
  background-color: #313131;
  border-radius: 20px;
  display: flex;
  height: 2em;
  padding: 0 10px;
}

.currency-container p {
  color: white;
  margin-bottom: 0;
  margin-top: 0;
}

.total {
  margin-left: 10px;
}

img {
  height: 2em;
  margin-right: 5px;
  width: 2em;
}
